<div class="form-group col-md-6">
	<legend>Please upload the pics for your apartment:</legend>
	<br>
	<input type="file" class="form-control-file" id="file" name="file">
	<br>
	<input type="file" class="form-control-file" id="file" name="file">
	<br>
	<input type="file" class="form-control-file" id="file" name="file">
	<br>
	<input type="file" class="form-control-file" id="file" name="file">
	<br>
	<input type="file" class="form-control-file" id="file" name="file">
</div>