body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.detail-view-pics-left {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.detail-view-pics-big {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
}

.detail-view-pics-little {
	display: flex;
	justify-content: center;
	align-content: flex-start;
}

.image-1 {
	width: 80%;
}

.image-2 {
	width: 20%;
	margin: 5px 10px 10px 0;
}

.image-3 {
	width: 20%;
	margin: 5px 10px 10px 0;
}

.image-4 {
	width: 20%;
	margin: 5px 10px 10px 0;
}

.image-5 {
	width: 20%;
	margin: 5px 10px 10px 0;
}