<form action="/apartment/create" method="post" enctype="multipart/form-data">
	<legend>Create a new apartment</legend>
	{{> apartmentCreate_Update  }}
	<button type="submit" class="btn btn-primary">Create a new apartment</button>
</form>