<h5>Create a new apartment:</h5>
<form action="/apartment/create" method="post" enctype="multipart/form-data">
	{{> apartmentCreate_Update  }}
	<button type="submit" class="btn btn-primary">Create a new apartment</button>
</form>