<h1>Login</h1>

<form action="/login" method="post">
	{{> warning_msg }}
	{{> success_msg }}
	<div class="mb-3">
		<label for="email" class="form-label">Email address</label>
		<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
	</div>
	<button type="submit" class="btn btn-primary">Log me in</button>
</form>